[access]
	inheritFrom = All-Projects
[submit]
	action = cherry pick
[access "refs/*"]
	owner = group user/pivonroll
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pivonroll
	label-Verified = -1..+1 group user/pivonroll
	push = group user/pivonroll
	read = group user/pivonroll
	rebase = group user/pivonroll
	removeReviewer = group user/pivonroll
	submit = group user/pivonroll
[access "refs/heads/*"]
	create = group user/pivonroll
	push = group user/pivonroll
	pushMerge = group user/pivonroll
	read = group Registered Users
	read = group user/pivonroll
	label-Code-Review = -1..+1 group Registered Users
[access "refs/tags/*"]
	push = group user/pivonroll
	push = +force group user/pivonroll
	read = group Registered Users
[label "My-Custom-Label"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No Score
	value = +1 Verified
